@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,700');
/*
	400 - Regular
	600 - Semi-bold
	700 - Bold
*/
*,*:before,*:after{
	box-sizing: border-box;
	position:relative;
}
body{
	display: flex;
	justify-content:center; 
	align-items: center;
	flex-direction: column;
	width: 100%;
	overflow: auto;
	margin:0;
} 
@media (max-width: 640px){
	body{
			
	}
}
#home {
	background: #000;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
#home video {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
	bottom: 0;
	background-size: cover;
}
#home nav {
	width: 100%;
	padding: 0;
	position: fixed;
	top: 5px;
	z-index: 1;
	display: flex;
	justify-content: center;
}
#home nav a {
	width: 100px;
	padding: 10px 0;
	margin: 0.875%;
	border: solid #888 1px;
	border-radius: 20px;
	background: #FFF;
	text-decoration: none;
	text-align: center;
	color: #00416D;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 0.94em;
	font-style: normal;
	line-height: 0.8em;
	letter-spacing: 0;
}
@media (max-width: 640px){
	#home nav a{
		width: 70px;
		margin: 1.20%;
		padding: 7px;
	}
}
#home img {
	width: 50%;
	padding: 5%;
}
@media (max-width: 640px){
	#home img {
		width: 89%;

	}
}
.logo {
	width: 30%;
	position: relative;
	top: 3%;
}
main{
	width: 100%;
}
main #sobre{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-height: 100vh;
	width: 100%;
}
@media (max-width: 640px) {
	#sobre {
		padding: 1px;
		background: #fff;
	}
}
main #sobre .logo {
	left: -380px;
}
main #sobre h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 1.88em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.61em;
	letter-spacing:0em;

}

main #sobre p{
	width: 40%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 1.25em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing:0em;
	
}
@media (max-width: 640px) {
	main #sobre p{
	 
		width: 100%;
		text-align: left;
		padding: 7.68%;
		margin: -4%;
		}
	}
main #acoes{
	width: 100%;
	min-height: 150vh;
	margin-bottom: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
}

main #acoes .logo{
	left: -380px;

}
main #acoes h2{
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 1.88em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.61em;
	letter-spacing:0em;
}

main #acoes h3{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 1.56em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.34em;
	letter-spacing: 0em;
}
@media (max-width: 640px){
	main #acoes h3{
		width: 80%;
	}
}
main #acoes p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 1.25em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
}
main #acoes .div-acoes {
	width: 80%;
	display: flex;
	justify-content: center;
}
@media (max-width: 640px) {
	main #acoes .div-acoes  {
		width: 95.28%;
		display: flex;
		flex-wrap: wrap;
	}
}
main #acoes .div-acoes div{
	width: 45%;
	max-width: 660px;
	padding: 2%;
	margin:2%;

}
@media (max-width: 768px) {
	main #acoes .div-acoes div {
		width: 95.28%;
		max-width: 600px;
		min-height: 80%;
		display: flex;
		flex-wrap: wrap;
	}
}
main #acoes .div-acoes iframe {
	width: 100%;
	height: 40%;
}
@media (min-width: 1500px) {
	main #acoes .div-acoes iframe {
		height: 55%;
	}
}
@media (max-width: 992px) {
	main #acoes .div-acoes iframe {
		height: 20vh;
	}
}
@media (max-width: 768px) {
	main #acoes .div-acoes iframe {
		height: 35vh;
	}
}
@media (max-width: 576px) {
	main #acoes .div-acoes iframe {
		height: 27vh;
	}
}

#contato {
	background: url(Assets/fundo-footer.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
@media (max-width: 640px){
	#contato {
		background-position: center;
	}
}
#contato .logo {
	left: -308px;
}
#contato .div-contato {
	min-height: 25%;
	padding: 2% 3%;
	margin-right: 8%;
	border-radius: 20px;
	background: rgba(0,0,0,0.7);
	position: absolute;
	bottom: 25%;
	right: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;	
}
@media (max-width: 425px){
	#contato .div-contato {
		width: 95%;
		padding: 5% 10%;
		/*padding-left: 50px;*/
		margin-top: 25%;
		right: auto;
	}
}
#contato .div-contato h3{
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:700; 	
	font-size: 1.88em;
	color:#ffffff;
	font-style: normal;
	text-align: center;
	line-height: 1.61em;
	letter-spacing: 0em;
	margin:0;
}
@media (max-width: 425px) {
	#contato .div-contato h3 {
		text-align: left;
	}
}

#contato .div-contato p {
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
    font-size: 1.25em;
    color: #ffffff;
    font-style: normal;
    text-align: left;
    line-height: 1.07em;
    letter-spacing: 0em;
    margin:5px 0;
}
#contato .div-contato .email{
	font-size: 1em;
}
#contato .div-contato div {
	width: 100%;
	display: flex;
}
#contato .div-contato div a{
	width: 25%;
	min-width: 60px; 
	max-width: 70px;
	margin-top: 10px;
	margin-right: 20px;
}
@media (max-width: 425px){
	#contato .div-contato div{
		justify-content: center;
	}
}
#contato .div-contato div a img{
	width: 100%;
	margin: 0%;
}

/*footer Vai na Web */

.vnw{ 
	width: 100%;
    height: 40px;
	background: #f16337;
	position: absolute;
	bottom:0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.vnw__text{
	font-family: 'Source Code Pro', monospace;
	font-weight: 500;
	font-size: 16px;
    color: #30368c;
}
.vnw__link{
	font-weight: 700;
    color: #30368c;
}
@media (max-width: 768px){
	.vnw__text{
        font-size: 12px;
    }
}