@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
/*
	400 - Regular
	600 - Semi-bold
	700 - Bold
*/
*,*:before,*:after{
	box-sizing: border-box;
	position:relative;

}
html,body{
	display: flex;
	justify-content:center; 
	align-items: center;
	flex-direction: column;
	width: 100%;
	overflow: auto;
	margin
}
@media (max-width: 640px) {
	body {
		overflow: hidden;
		margin: 0;
	}
}
 
#home {
	background: #000;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#home video {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	/*right: 0;*/
	bottom: 0;
	background-size: cover;
}
#home nav {
	width: 100%;
	z-index: 1;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;	
}
#home nav ul {
	width: 100%;
	padding: 0;
	display: flex;
	justify-content: center;
	position: fixed;
	list-style: none;
}


#home nav ul a {
	text-decoration: none;
	margin: 0 0.875%;
	display: flex;
	justify-content: center;
}
 @media (max-width: 640px){
 	#home nav ul a{
 		margin: 1.20%;
 		display: flex;
 		justify-content: center;
 	}
 }
#home nav ul a li {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	border-radius: 20px;
	border: solid #888 1px;
	background: #FFF;
	width: 80px;
	padding: 5px 0;
	color: #00416D;
	font-size: 0.94em;
	font-style: normal;
	text-align: center;
	line-height: 0.8em;
	letter-spacing: 0;
}

@media(max-width: 640px){
	#home nav ul a li{
		padding :7px;
		width: 70px;
	}
}
#home img {
	width: 50%;
	padding: 5%;
}
@media (max-width: 640px){
	#home img {
		width: 89%;

	}
}
.logo {
	width: 30%;
	position: relative;
	top: 3%;
}
main #sobre{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-height: 100vh;
	width: 100%;
}
@media (max-width: 640px) {
	#sobre {
		padding: 1px;
		background: #fff;
	}
}
main #sobre .logo {
	left: -380px;
}
main #sobre h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 1.88em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.61em;
	letter-spacing:0em;

}

main #sobre p{
	width: 40%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 1.25em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing:0em;
	
}
@media (max-width: 640px) {
	main #sobre p{
	 
		width: 100%;
		text-align: left;
		padding: 7.68%;
		margin: -4%;
		}
	}
main #acoes{
	min-height: 150vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
	
}
@media (max-width: 640px){
	main #acoes {
		width: 
		background: #fff;
	}
}
main #acoes .logo{
	left: -380px;

}
main #acoes h2{
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 1.88em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.61em;
	letter-spacing:0em;
}

main #acoes h3{
	
}
@media (max-width: 640px){
	main #acoes h3{
		font-size: 1.56em;
		color: #95989a;
		font-style: normal;
		text-align: left;
		line-height: 1.34em;
		letter-spacing: 0em;
		width: 80%;
	}
}
main #acoes p {

	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 1.25em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
}
main #acoes .div-acoes {
	width: 80%;
	display: flex;
	justify-content: center;
}
@media (max-width: 640px) {
	main #acoes .div-acoes  {
		width: 95.28%;
		
		display: flex;
		flex-wrap: wrap;
	}
}
main #acoes .div-acoes div{
	width: 45%;
	padding: 2%;
	margin:2%;

}
@media (max-width: 640px) {
	main #acoes .div-acoes div {
		width: 95.28%;
		height: 80%;
		
		display: flex;
		flex-wrap: wrap;
	}
}
main #acoes .div-acoes video {
	width: 100%;
	height: 40%;

}

#contato {
	background: url(Assets/fundo-footer.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
}
@media (max-width: 640px){
	#contato {
	background-position: center;
	}
}
#contato .logo {
	align-self: flex-start;
	left:-9	0px;

}
#contato .div-contato {
	background: rgba(0,0,0,0.7);
	width: 29%;
	height: 40%;
	/*left: 13.50%;
	top: 28%;*/
	margin-top: 25%;
	margin-left: 30%;
	padding: 25px;
	padding-left: 50px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;	
}
@media (max-width: 640px){
	#contato .div-contato {
		width: 95%;
		line-height: 55%;
		right: 30%;
		

	}
}
#contato .div-contato h3{
	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:700; 	
	font-size: 1.88em;
	color:#ffffff;
	font-style: normal;
	text-align: left;
	line-height: 1.61em;
	letter-spacing: 0em;
	margin:0;
	align-self: center;
}
@media (max-width: 640px) {
	#contato .div-contato h3 {
		display: flex;
		justify-content: flex-start;
		align-self: flex-start;
		top:2%;
		right: 10%;
	}
}

#contato .div-contato p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
    font-size: 1.25em;
    color: #ffffff;
    font-style: normal;
    text-align: left;
    line-height: 1.07em;
    letter-spacing: 0em;
    margin:5px 0;
}
@media (max-width: 640px) {
	#contato .div-contato p{
		margin: 3%;
		top: 5%;
		right: 10%;
		align-content: space-around;
	}
}
#contato .div-contato .email{
	font-size: 1em;
}
#contato .div-contato div {
	display: flex;
	/*flex-flow: row wrap;*/
	/*background: red;*/
}
#contato .div-contato div a{
	margin: 10px;
	width: 15%;
}
@media (max-width: 640px){
	#contato .div-contato div a{
		top:-1px;
		margin: 8px;
	}
}
#contato .div-contato div a img{
	width: 100%;
	margin: 0%;
}

@media (max-width: 640px)
{
	#contato .div-contato div a img {
		width: 120%;
		margin: 50%;
		
	}
}
@media (max-width: 640px) {
	body {
		;
	}
}